body{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#container{
    box-sizing: border-box;
    height: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 82px 1fr 130px;
    grid-template-areas: "h h h"
                        "l c r"
                        "f f f";
}
#header{
    background: linear-gradient(to left, rgba(255, 0, 0, 0.96) 0, rgba(48, 1, 1, 0.96) 100%);
    text-align: center;
    color: white;
    grid-area: h;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.main{
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    padding: 200px;
    flex-wrap: wrap;
 }
#main-menu{
    top: 0;
    box-shadow: 0 1px 1px 1px black;
}
#main-menu a{ 
    padding: 30px;
    color: white;
    display: flex;
    font-size: 18px;
    justify-content: center;
    text-decoration: none;
}
#main-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    color: rgba(255,255,255,0.6);
}
#main-menu a:hover{
    color: white;
}

#main-menu li{
    width: 100%;
    text-align: center;
    position: relative;
    color: #666; 
}
#footer {
    color: white;
    grid-area: f;
    padding: 30px;
    text-align: center;
    background-color: gray;
}